<link rel="stylesheet" href="public/css/admin.css" media="all">
<link rel="stylesheet" href="public/css/login.css" media="all">
<style>

</style>
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md8">
        <div class="layui-card">
          <div class="layui-card-header">谷歌验证码教程</div>
          <div class="layui-card-body">
            <p>谷歌身份验证器最早是谷歌为了减少 Gmail 邮箱遭受恶意攻击而推出的两步验证方式，后来被很多网站支持。使用谷歌身份验证器，可以避免比如不久前发生的 Coinbase 短信二次验证导致的安全事故。开启谷歌身份验证之后，登录账户，除了输入用户名和密码，还需要输入谷歌验证器上的动态密码。</p>
            <p>第一步：手机应用下载“谷歌验证器”
              <img src="/public/images/tool/01.png" />
            </p>
            <p>第二步：添加秘钥
              <img src="/public/images/tool/02.png" />
            </p>
            <p>
              第三步：添加成功后，客户端显示6位验证码 对应登录的google验证码
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> 


